<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @user.login %></h1>
    <p>
      You have successfully signed in to example.com,
      your username is: <%= @user.login %>.<br>
    </p>
   
    <p>Thanks for signing in and have a great day!</p>
  </body>
</html>
